*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
}
.left{
    overflow: hidden;
    height: 100vh;
}
.main .left{
   
    width: 25%;
   
}
ul li:hover{
    background-color: gray;

}
.pic:hover{
    background-color: aliceblue;
    opacity: 0.7;
}
.right{
    
     background-color:lightgray;
    width: 75%;
    height: 100vh;
    overflow: auto;
}
.girl{
    width: 35%;
    margin: 8%;
    
}
.main .lefft .ul .li{
    margin: 5%;
   
}

.l a{
  
    text-decoration: none;
    margin: 5%;
}
.icon{
    margin: 5%;
}
.por{
    margin: 5%;
}
.all ul{
    margin: 0px 16px;
    display: flex;
}
.all ul li{
    margin: 0px 25px;
}
.r{
    width: 90%;
    margin: auto;
}
.my{
    font-size: 50px;
    margin: 5% 0%;
}
.l2{
    padding: 2% 3%;
    background-color: white;
    text-decoration: none;
    list-style-type: none;
}
.fiter{
    font-size: 20px;
    margin-top: 2%;
}
.image{
    margin: 5% 0%;
width: 30%;
}

.image img{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.images{
    display: flex;
    justify-content: space-between;
}
.lorem{
  
    margin: 5% 0%;
}
.loremm{
    font-size: 15px;
}
image .top .pic:hover{
    background-color: aliceblue;
}
.pic{
    width: 30%;
}
.rakam{
    color: white;
    width: 90%;
    margin: auto;
    height: 30vh;
    background-color:rgb(143, 136, 136) ;
}
.text{
    margin: 3% 0%;
    font-size: 20px;
}
.table{ 
    background-color: aqua;
}
.tamles table{
    background-color: black;
} 
.bas{
    background-color: aqua;
}
.g{
    width: 90%;
    margin: auto;
    margin-top: 5%;
}
.about{
    width: 90%;
    margin: auto;
    margin-top: 5%;
}
.poto{
    width: 90%;
    margin: auto;
    margin-top: 5%;
}
.photogfaph{
    width: 90%;
    margin: auto;
}
.rakam ul li{
    background-color: black;
    padding: 16px 32px;
    margin:  5%  1%;
    text-decoration: none;
    list-style-type: none;
}
.rakam ul{
    display: flex;
    justify-content: center;
    margin-top:;
}
.g{
    display: flex;
    justify-content: space-between;
}
.gs img{
    width: 100%;
  
}
.tab {
    height: 5vh;
    background-color: rgb(237, 231, 231);
}
.tab h1{
    background-color: rgb(99, 95, 95);
    width: 95%;
}
.hh1{
    width: 95%;
    background-color: rgb(99, 95, 95);
    color: white;
    text-align: center;
}
.poto{
    margin: 2% 0%;
}
.tabb {
    background-color: rgb(237, 231, 231);
}
.hh2{
    color: white;
    text-align: center;
    width: 85%;
    background-color: rgb(99, 95, 95);
}
.tabbb {
    background-color: rgb(237, 231, 231);
}
.hh3{
    color: white;
    text-align: center;
    width: 80%;
    background-color: rgb(99, 95, 95);

}
.ul li{
    color: white;
    text-align: center;
    height: 6vh;
    margin-top: 5%;
    list-style-type: none;
    width: 20%;
    padding: 8px 16px;
    background-color: rgb(99, 95, 95);
  
}
.how{
    margin-top: 5%;
}
.table tr td{
    border: 1px solid gray;
    padding: 18px 80px;
    background-color: rgb(249, 242, 242);
} 
.tale .tr,bas{
    background-color: black;
}
.tables{
    display: flex;
    justify-content: space-between;
}
.cust{
    font-size: 35px;
    width: 100%;
    height: 100vh;
    background-color: gray;
}
.cust ul{
    display: flex;
    justify-content: space-evenly;
}
.cust ul li{
   
    margin: 5% 0%;
    list-style-type: none;
}
.cust ul li i{
    padding: 16px 70px;
    background-color: rgb(78, 75, 75);
}
.name{
   
    margin-left: 10%;
}
.namee{
 margin-left: 5%;
    background-color: white;
    width: 90%;
    height: 5vh;
}
.num{
    padding-top: 2%;
    font-size: 20px;
    color: white;
    width: 20%;
    height: 8vh;
    background-color:black;
    margin-top: 5%;
    margin-left: 15%;
}
.foter{
    color: white;
    margin: 5% 0%;
    background-color: black;
    display: flex;

}
.sur{
    width: 50%
}
.posts{
    display: flex;
}


